---
layout: default
title: Home
---

<div id="main_carousel" class="carousel slide text-center bg_darkblue" data-ride="carousel" data-interval="6000">
  <div class="carousel-inner">
  {% for item in site.data.carousel %}
		<div class="carousel-item {{item.active}}">
    	<img src="{{item.image}}" alt="...">
			<div class="carousel-caption d-none d-md-block">
      	<h1>{{item.title}}</h1>
        <p>{{item.text}}</p>
      </div>
		</div>
	{% endfor %}
  </div>
</div>

<div class="container" style="padding: 60px 0 70px 0; text-align: center;">
    <h1> A Plugin to Build Point and Click Games </h1>
    
    <p>
    Always wanted to develop a point and click game but didn't have the right
    tools? Worry no further, PACgd is here to help you. Make awesome point and
    click games writing a minimum of code. Just relax and focus on the gameplay
    while we take care of the complex code.
    </p>

    <a href="./docs/quickstart/quickstart">
        <button type="button" class="btn btn-primary"> Get started </button>
    </a>
    <a href="https://github.com/gagdiez/PACgd">
        <button type="button" class="btn btn-light"> Download </button>
    </a>
</div>

<div class="container">
	<h1> Why PACgd? </h1>
	<div class="card-deck text-center">
	{% for card in site.data.cards %}
	  <div class="card">
			<img src="{{card.image}}" class="card-img-top">
			<div class="card-body">
		  	<h4 class="card-title">{{card.title}}</h4>
			  <p class="card-text">{{card.text}}</p>
			</div>
	  </div>
	{% endfor %}
	</div>
</div>
