---
layout: default
title: Home
---

<section id="main_carousel" class="carousel slide text-center my-4"
		     data-ride="carousel" data-interval="6000">


			<div class="carousel-inner">
			{% for item in site.data.carousel %}
				<div class="carousel-item {{item.active}}">
					<img class="img-fluid img-gallery" src="{{item.image}}" alt="...">
				  <div class="container mt-4">   
						<h1 class="main-title">{{item.title}}</h1>
						<p>{{item.text}}</p>
					 
						<div class="start-now">
							<a href="./docs/quickstart/quickstart">
								<button type="button" class="btn btn-secondary"> Get Started! </button>
							</a>
						</div>
					</div>		
				</div>
			{% endfor %}
		</div>		
		<a class="carousel-control-prev" href="#main_carousel" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#main_carousel" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
</section>

<section class="features pt-3 pb-2">
  <div class="container">   
    <div class="row card-deck">
		  {% for card in site.data.cards %}
			  <div class="col-lg-4">
				  <div class="card mx-auto mb-5 mb-lg-0 mb-lg-3">
				    <img src="{{card.image}}">
					  <div class="card-body">
						  <h4 class="card-title">{{card.title}}</h4>
							<p class="card-text">{{card.text}}</p>
						</div>
					</div>
				</div>
			{% endfor %} 
	  </div>
	</div>
</section>
