<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}" type="image/x-icon">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet" />
    
    <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>
	  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">
		<link rel="stylesheet" href="{{'/assets/css/docs.css' | relative_url}}">

</head>
