.bg_darkblue{
	background-color:#202531;
}

.carousel{
	min-height:395px;
}

.carousel-caption h1{
	text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	margin-bottom:0;
}

.carousel-caption p{
	text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.carousel-inner>.item {
    -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
    -o-transition: -o-transform 1.2s ease-in-out !important;
    transition: transform 1.2s ease-in-out !important;
}

img{
	max-width:1110px;
}

.card{
	border:0;
}

.card-deck{
	margin:20px 10px;
}


.card-deck img{
	max-width:330px;
	max-height:170px;
	background-color:#555;
}

.footer{
	margin:40px 0 0 0;
    position:relative;
    bottom:0;
    width:100%;
}

.footer .container{
	padding: 5px 30px 15px 30px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	text-align:center;
}

p {
	font-family: 'Montserrat', sans-serif;
}
