<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Point and Click Plugin for Godot">
		<meta property="og:description" content="The simplest way to create your Point and Click game!">
    <meta property="og:image" content="https://gagdiez.github.io/PACgd/assets/images/pac.png">
    <title>PACgd - A Point and Click system for Godot</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap" rel="stylesheet"> 
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
  </head>
  <body>
	{% include navigation.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
